{# Working styles #}
{#
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css"/>
<script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
<style>
    .star-rating {font-size: 0; margin: 5px 0;}
    .star-rating__wrap {display: inline-block; font-size: 1rem;}
    .star-rating__wrap:after {content: ""; display: table; clear: both;}
    .star-rating__ico {float: right; padding-left: 2px; color: #FFB300;}
    .star-rating__ico:not(.readonly) {cursor: pointer;}
    .star-rating__ico:last-child {padding-left: 0;}
    .star-rating__input {display: none;}
    .star-rating__ico:not(.readonly):hover:before, .star-rating__ico:not(.readonly):hover ~ .star-rating__ico:not(.readonly):before, .star-rating__input:checked ~ .star-rating__ico:before {content: "\f005";}
</style>
#}
<div class="star-rating" data-stars-id="{{ stars_id }}" {{ (js_callback ? 'data-xlabs-callback="'~js_callback~'"' : '')|raw }}>
    <div class="star-rating__wrap">
        {% for i in total_stars..1 %}
            <input class="star-rating__input {{ value or force_readonly ? 'readonly' : '' }}" id="star-rating-{{ i }}_{{ stars_id }}" type="radio" name="rating_{{ stars_id }}" value="{{ i }}" {{ value == i ? 'checked="checked"' : ''}}>
            <label class="star-rating__ico fa fa-star-o fa-lg {{ value or force_readonly ? 'readonly' : '' }}" for="{{ value or force_readonly ? '' : ('star-rating-'~i~'_'~stars_id) }}" title="{{ i }} out of {{ total_stars }} stars" data-xlabs-star="{{ ratedType }}, {{ rated_id }}"></label>
        {% endfor %}
    </div>
</div>