<html>
    <head>
        <link rel="stylesheet" href="{{ asset('bundles/xlabslike/fonts/font-awesome_4.7.0.min.css') }}" type="text/css"/>
        <script src="{{ asset('bundles/xlabslike/jquery-1.11.2.min.js') }}"></script>
        <style>
            .star-rating {font-size: 0; margin: 5px 0;}
            .star-rating__wrap {display: inline-block; font-size: 1rem;}
            .star-rating__wrap:after {content: ""; display: table; clear: both;}
            .star-rating__ico {float: right; padding-left: 2px; color: #FFB300;}
            .star-rating__ico:not(.readonly) {cursor: pointer;}
            .star-rating__ico:last-child {padding-left: 0;}
            .star-rating__input {display: none;}
            .star-rating__ico:not(.readonly):hover:before, .star-rating__ico:not(.readonly):hover ~ .star-rating__ico:not(.readonly):before, .star-rating__input:checked ~ .star-rating__ico:before {content: "\f005";}
        </style>
    </head>
    <body>
        <fieldset>
            <legend>Classic like:</legend>
            <a href="javascript:;" data-xlabs-like="post, 63" data-xlabs-callback="myCallback">
                <i class="fa {{ checkLike('post', 63) ? 'fa-thumbs-up' : 'fa-thumbs-o-up' }}" aria-hidden="true" style="font-size: 2em;"></i>
                Toggle like status for post #63
            </a>
            <br />
            Total likes: {{ getLikes('post', 63) }}
            <br />
            Check if current user likes gallery 63: {{ checkLike('post', 63) ? 'Yes' : 'No' }}
            <script type="text/javascript">
                function myCallback(elem, response)
                {
                    response = JSON.parse(response);
                    //console.log(response);
                    location.reload();
                }
            </script>
        </fieldset>

        <fieldset>
            {% set ratedType = 'post' %}
            {% set ratedId = 34 %}
            <legend>Star rating:</legend>

            <span>New rating</span>
            {{ renderStars(ratedType, ratedId) }}

            <span>Current user rating (clickable when unexisting)</span>
            {{ renderStars(ratedType, ratedId, getUserStarRating(ratedType, ratedId), false, 'myStarsCallback') }}

            <span>Average rating ({{ getTotalStarRatings(ratedType, ratedId) }} votes)</span>
            {{ renderStars(ratedType, ratedId, getStarAverage(ratedType, ratedId), true) }}

            <div style="margin: 20px 0;"></div>

            <span>10 Most rated "{{ ratedType }}"</span>
            {% set most_rated = getMostRated(ratedType, false, 10, false) %}
            <ul>
                {% for item in most_rated %}
                    <li>{{ item }}</li>
                {% else %}
                    <li><i>No rated "{{ ratedType }}" yet</i></li>
                {% endfor %}
            </ul>

            <span>10 Most rated "{{ ratedType }}" by user</span>
            {% set most_rated = getMostRatedByUser(ratedType, false, 10, false) %}
            <ul>
                {% for item in most_rated %}
                    <li>{{ item }}</li>
                {% else %}
                    <li><i>User has not rated any "{{ ratedType }}" yet</i></li>
                {% endfor %}
            </ul>

            <script type="text/javascript">
                function myStarsCallback(elem, response)
                {
                    response = JSON.parse(response);
                    location.reload();
                }
            </script>
        </fieldset>

        {#% include 'XLabsLikeBundle:Like:loader.html.twig' with {
            'xlabs_like_action': 'xlabs_like_ajax'
        } %#}
        {% include 'XLabsLikeBundle:Like:loader.html.twig' %}
    </body>
</html>