{% block _xlabs_like %}
    {% set xlabs_like_action = xlabs_like_action is defined ? xlabs_like_action : 'xlabs_like_ajax'  %}
    {% set xlabs_star_action = xlabs_star_action is defined ? xlabs_star_action : 'xlabs_star_ajax'  %}
    <script type="text/javascript">
        $(document).on('click', '[data-xlabs-like]', function(){
            let elem = $(this);
            let xlabs_data = elem.attr('data-xlabs-like');
            let liked_entityType = xlabs_data.split(',')[0];
            let liked_entity_id = xlabs_data.split(',')[1];
            $.ajax({
                url: '{{ path(xlabs_like_action) }}',
                contentType: 'application/json',
                data: JSON.stringify({
                    'data-xlabs-like': {
                        'entityType': liked_entityType.trim(),
                        'entity_id': liked_entity_id.trim()
                    }
                }),
                type: 'post',
                dataType: 'html',
                success: function(response){
                    let custom_callback = elem.attr('data-xlabs-callback');
                    try {
                        custom_callback = eval(custom_callback);
                        if(typeof custom_callback == 'function')
                        {
                            custom_callback(elem, response);
                        }
                    }
                    catch(err) {
                        console.log('XLabs Like (data-xlabs-callback): ' + err.message);
                    }
                }
            });
        });

        $(document).on('click', '[data-xlabs-star]:not(.readonly)', function(){
            let elem = $(this);
            let xlabs_data = elem.attr('data-xlabs-star');
            let rated_entityType = xlabs_data.split(',')[0];
            let rated_entity_id = xlabs_data.split(',')[1];
            $.ajax({
                url: '{{ path(xlabs_star_action) }}',
                contentType: 'application/json',
                data: JSON.stringify({
                    'data-xlabs-star': {
                        'entityType': rated_entityType.trim(),
                        'entity_id': rated_entity_id.trim(),
                        'rating': elem.siblings('input#' + elem.attr('for')).val()
                    }
                }),
                type: 'post',
                dataType: 'html',
                success: function(response){
                    elem.closest('.star-rating__wrap').find('*').attr('disabled', 'disabled').addClass('readonly');
                    let custom_callback = elem.closest('.star-rating').attr('data-xlabs-callback');
                    try {
                        custom_callback = eval(custom_callback);
                        if(typeof custom_callback == 'function')
                        {
                            custom_callback(elem, response);
                        }
                    }
                    catch(err) {
                        console.log('XLabs Star (data-xlabs-callback): ' + err.message);
                    }
                }
            });
        });

        {#
        document.querySelector('body').addEventListener('click', function(e) {
            if(e.target && e.target.getAttribute('data-xlabs-like'))
            {
                var elem = e.target;
                var req = new XMLHttpRequest();
                req.open('POST', '{{ path(xlabs_like_action) }}', true);
                req.setRequestHeader('Content-Type', 'application/json; charset=utf-8');
                //req.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
                req.onreadystatechange = function() {
                    switch(true)
                    {
                        case req.readyState < 4:
                            // Loading
                            break;
                        case req.readyState == 4:
                            if(req.status == 200 && req.status < 300) // http status between 200 to 299 are all successful
                            {
                                var custom_callback = elem.getAttribute('data-xlabs-callback');
                                try {
                                    custom_callback = eval(custom_callback);
                                    if(typeof custom_callback == 'function')
                                    {
                                        custom_callback(elem, req.responseText);
                                    }
                                }
                                catch(err) {
                                    console.log('XLabs Like (data-xlabs-callback): ' + err.message);
                                }

                            }
                            break;
                        default:
                            // Unable to post data
                            console.log('XLabs Like: Unable to post data');
                            break;
                    }
                };

                var xlabs_data = elem.getAttribute('data-xlabs-like');
                var liked_entityType = xlabs_data.split(',')[0];
                var liked_entity_id = xlabs_data.split(',')[1];
                req.send(JSON.stringify({
                    'data-xlabs-like': {
                        'entityType': liked_entityType.trim(),
                        'entity_id': liked_entity_id.trim()
                    }
                }));
            }
        });

        window.addEventListener('load', function() {
            var elements = document.querySelectorAll('[data-xlabs-like]');
            //console.log(window.jQuery ? 'jQuery loaded' : 'jQuery not loaded');
            for(var i = 0, len = elements.length; i < len; i++) {
                elements[i].addEventListener("click", function(){
                    var elem = this;
                    var req = new XMLHttpRequest();
                    req.open('POST', '{{ path(xlabs_like_action) }}', true);
                    req.setRequestHeader('Content-Type', 'application/json; charset=utf-8');
                    //req.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
                    req.onreadystatechange = function() {
                        switch(true)
                        {
                            case req.readyState < 4:
                                // Loading
                                break;
                            case req.readyState == 4:
                                if(req.status == 200 && req.status < 300) // http status between 200 to 299 are all successful
                                {
                                    var custom_callback = elem.getAttribute('data-xlabs-callback');
                                    try {
                                        custom_callback = eval(custom_callback);
                                        if(typeof custom_callback == 'function')
                                        {
                                            custom_callback(elem, req.responseText);
                                        }
                                    }
                                    catch(err) {
                                        console.log('XLabs Like (data-xlabs-callback): ' + err.message);
                                    }

                                }
                                break;
                            default:
                                // Unable to post data
                                console.log('XLabs Like: Unable to post data');
                                break;
                        }
                    };

                    var xlabs_data = elem.getAttribute('data-xlabs-like');
                    var liked_entityType = xlabs_data.split(',')[0];
                    var liked_entity_id = xlabs_data.split(',')[1];
                    req.send(JSON.stringify({
                        'data-xlabs-like': {
                            'entityType': liked_entityType.trim(),
                            'entity_id': liked_entity_id.trim()
                        }
                    }));
                });
            }
        });
        #}
    </script>
{% endblock _xlabs_like %}